:root {
    --header_footer_bg: #212121;
    --indicator_color: #2666CF;
    --font_family_main: 'Neue Haas Grotesk Display Pro';
    --headerHeight: 10%;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('Fonts/NeueHaasDisplay-Light.woff') format('woff2'),
        url('Fonts/NeueHaasDisplay-Light.woff2') format('woff');
}

body {
    height: 200vh;
    margin: 0;
    background-color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: var(--headerHeight);
    background-color: var(--header_footer_bg);
    color: #fff;
    font-family: var(--font_family_main);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

footer {
    width: 100%;
    height: 4%;
    left: 0;
    float: left;
    background-color: var(--header_footer_bg);
    color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    box-shadow: 0px -2px 4px 0px rgba(0 0 0 / 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font_family_main);
}

ol,
ul {
    list-style: none;
}

li {
    display: inline-block;
    vertical-align: middle;
}


li>a:focus,
a:active {
    text-decoration: none;
}


li>a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    color: #fff;
}

li>a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--indicator_color);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}


li>a:hover::before,
a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

@-webkit-keyframes fadeInSide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInSide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.container-main {
    position: relative;
    color: black;
    background-color: transparent;
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font_family_main);
}

.container {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    grid-template-rows: 1fr;
    padding-top: var(--headerHeight);
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.container_idx {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 3.5em;
    margin: 0;
    text-align: center;
    font-weight: lighter;
    color: rgb(243, 98, 31);
    line-height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.cotainer_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
}

.container_title {
    font-size: 2em;
    font-weight: bold;
    grid-area: 1 / 1 / 2 / 2;
}

.container_text {
    grid-area: 2 / 1 / 3 / 2;
    text-align: justify;
    padding-bottom: 2%;
    border-bottom: solid #000 2px;
    color: rgb(68, 67, 67);
}

#nav_div {
    padding-right: 10%;
}


#nav {
    float: right;
}